/*******************************CODE COULEUR
Rouge : #b50829;
Bleu : #057ca5;
*/
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/***********************************HEADER*/
header {
    padding: 1em 1em;
}
/***********************************LOGO*/
.logo {
  float: left;
}
/******************************MENU*/
#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}
#menu ul {
  align-self: flex-end;
  display:flex;
  flex-wrap: wrap;
  list-style-type:none;
  line-height: 8.5em;
  margin-right: 2em;
}
#menu ul li {
  padding-left: 3.6em;
}
#menu ul li a {
  text-decoration: none;
  color: #b50829;
  font-size: 16px;
  font-weight: normal;
}
#menu ul li a:hover {
  color: #000;
}
#menu ul li a:active {
  color: #057ca5;
}
/******************MENU BURGER*/
#menu-burger {
  display: none;
  width: 100%;
  display: none;
  flex-direction: column;
}
/******************BURGER*/
#menu-burger .burger {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#menu-burger .burger span {
  width: 90%;
  height: 5px;
  background-color: #b50829;
}
#menu-burger .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}
#menu-burger .logo img {
  width: 48px;
  height: 48px;
}
#menu-burger ul {
  width: 25%;
  min-width: 175px;
  background-color: #b50829;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 66px;
  border-top: 1px solid #057ca5;
}
#menu-burger ul li {
  list-style-type: none;
  height: 15%;
  padding: 0.44em 1em;
}
#menu-burger ul li:hover {
  background-color: #057ca5;
}
#menu-burger ul li:active {
  background-color: #fff;
}
#menu-burger ul li a {
  color: #fff;
  text-decoration: none;
}
#menu-burger ul li a:hover {
  color: #fff;
}
#menu-burger ul li.active {
  background-color: #fff;
}
#menu-burger ul li.active a {
  color: #057ca5;
}
/******************SCROLLBOX SLIDER*/
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
    opacity: 0.05;
}
.bx-wrapper:hover .bx-prev, .bx-wrapper:hover .bx-next {
  opacity: 1 !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: #057ca5 !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #b50829 !important;
}
.button-slide-left, .button-slide-right,
.button-right, .button-left {
    background-color: #b50829;
    width: 105px;
    height: auto;
    padding: 1em;
}
.button-slide-left {
    position: absolute;
    left: 3em;
    top: 13em;
}
.button-slide-right {
    position: absolute;
    right: 2.5em;
    top: 13em;
    width: 112px;
}
.button-slide-left a, .button-slide-right a, .button-right a, .button-left a {
    color: #fff; sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    position: absolute;
    bottom: 20px !important;
}
.bx-wrapper {
  margin-bottom: 0px !important;
  padding: 0;
  border-width: 0px !important;
  position: relative;
  z-index: 100;
}
/***********************bandeau ACCUEIL*/
.bandeau {
  background-color: #b50829;
  width: 100%;
  padding: 2em 0;
}
.bandeau p {
  color: #fff;
  text-align: center;
}
.bold {
  font-size: 30px;
}
/***********************PRESENTATION ACCUEIL*/
.presentation {
  background-image: url("../img/cabinet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: 0.7;*/
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.presentation h1 {
  font-family: 'Roboto', sans-serif;
  color: #b50829;
}
.presentation p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}
.presentation .opacity, .opacity {
  width: 40%;
  height: auto;
  background-color: #fff;
  opacity: 0.8;
  padding: 2em;
  position: absolute;
  top: 40%;
}
.opacity {
  background-color: #fff;
  border: 1px solid #057ca5;
}
.presentation .opacity, .praignant .opacity {
  right: 1%;
}
.baby .opacity {
  left: 1%;
}
/*************************NOURRISSON ACCUEIL*/
.baby {
  background-image: url("../img/bebe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: 0.7;*/
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.opacity-nourrisson {
  top: 45%;
}
.baby h2 {
  font-size: 26px;
  color: #b50829;
}
/************FEMME ENCEINTE ACCUEIL*/
.praignant {
  background-image: url("../img/femme-enceinte.jpg");
  background-position: 10% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: 0.7;*/
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.praignant .opacity {
    /*background-color: #b50829;*/
}
.opacity-femme {
  top: 49%;
}
.praignant .opacity  h2 {
    color: #b50829;
}
.praignant .opacity  p {
    color: #000;
}
/*********MEDECINE CHINOISE ACCUEIL*/
.medecine {
  background-image: url("../img/medecine-chinoise.jpg");
  background-position: 10% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: 0.7;*/
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.medecine .opacity {
    left: 1%;
}
.opacity-medecine {
  top: 49%;
}
.medecine .opacity  h2 {
    color: #b50829;
}
.medecine .opacity  p {
    color: #000;
}
/******************PERSONNE AGEE*/
.agee {
  background-image: url("../img/personne-agee.jpg");
  background-position: 10% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  /*opacity: 0.7;*/
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.agee .opacity {
    right: 1%;
    top: 38%;
}
.agee .opacity  h2 {
    color: #b50829;
}
.agee .opacity  p {
    color: #000;
}
/*****************QUI SOMMES NOUS ?*/
.qui {
  /*background-color: #057ca5;*/
  background-position: 10% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 500px;
  position: relative;
  border-bottom: 2px solid #057ca5;
}
.qui .opacity-bg  h2 {
    color: #b50829;
}
.qui .opacity-bg {
    width: 90%;
    height: auto;
    margin: 0 auto !important;
    /*background-color: #fff;
    opacity: 0.8;*/
    padding: 1em;
    position: absolute;
    top: 2%;
    left: 3.5%;
}
.qui .opacity-bg span {
    color: #b50829;
    font-weight: bold;
}
/*SECTION******************/

#article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
  padding: 3em;
}
.tribox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
}
#article h1 {
    color: #b50829;
    margin-bottom: 2em;
}
#article h2 {
  color: #057ca5;
  font-size: 16px;
}
.left {
    float: left;
    margin-right: 3em;
}
#article .fa {
  margin-right: 1em;
  margin-bottom: 2em;
}
#article ul {
    /*margin-left: 24.5em;*/
}
.right {
    float: right;
    margin-left: 3em;
}
.liste2 {
  margin-left: 2.9em !important;
}
#article p {
    margin-top: 2.5em;
}
/*NOURRISSON******************/

/**************************FOOTER*/
.footer {
    width: 100%;
    clear: both;
    padding: 40px 0;
    background-color: #b50829;
}
.colon-foot {
    width: 85%;
    margin: 0 auto;
}
.colon-foot ul {
    display: inline-grid;
    width: auto;
    margin-left: 135px;
}
.colon-foot ul h3 { Sun,Arial,sans-serif;
  color: #000;
  font-size: 21px;
}
.colon-foot ul li {
    list-style-type: none;
    width: 100%;
    margin-top: 30px;
}
.colon-foot ul li a {
    font-family: Lato,Arial,sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.colon-foot ul li a:hover {
    text-decoration: underline;
    color: #000;
}
.colon-foot ul li {
  margin-top: 24px;
}
.fa.fa-facebook-square:before {
  margin-right: 20px;
}
.fa.fa-facebook-square {
  color: #fff;
  font-size: 21px;
}
.fa.fa-facebook-square:hover {
  color: #000;
}
.copyright {
  color: #fff;
  margin: 70px auto 0 auto;
  width: 29%;
  font-family: Lato,Arial,san057ca5s-serif;
  text-align: center;
}
.copyright a {
    text-decoration: none;
    color: #fff;
}
.copyright a:hover {
  color: #000;
  text-decoration: underline;
}
/****************BACK-TOP***/
#back-top {
    background-color:#057ca5;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 50px;
    right: 4px;
}
#back-top:hover {
  background-color: #fff;
  border: 1px solid #b50829;
}
#back-top a .fa.fa-chevron-up {
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    padding-left: 5px;
    width: 24px;
    height: 30px;
}
#back-top a .fa.fa-chevron-up:hover {
    color: #b50829;
}
/****************MEDIA QUERIES*/
@media (max-width: 1280px) {
  #menu {
    display: none;
  }
  #menu-burger {
    display: flex;
  }
  .presentation {
    background-position: 20% 0px;
  }
}
